* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

header {
    background-color: #5f3712bc;
    padding: 25px;
    box-shadow: 0 0 20px black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: bold;
}

.inicio {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: black;
}

.inicio img {
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.204);
    z-index: 1;
}

.compra {
    position: absolute;
    background-color: #5f3712ce;
    border-radius: 10px;
    left: 70%;
    top: 50%;
    padding: 10px 20px;
    z-index: 2;
}

.compra p {
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    color: white;
}

.compra button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40px;
    background-color: antiquewhite;
    cursor: pointer;
    font-weight: bold;
}

.compra button:hover {
    background-color: white;
    box-shadow: 0 0 10px white;
    transition: 250ms;
}

.slogan h2 {
    text-align: center;
}

.linea {
   background-color: black;
   text-align: center;
   width: 300px;
   height: 2px;
   margin: 0 auto;
}

.cards {
    width: 750px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    padding: 20px;
}

.slogan div img {
    width: 200px;
}

.card p {
    text-align: center;
    font-size: 17px;
}

.info {
    position: relative;
}

.info img {
    width: 25%;
    border-radius: 15px;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.515);
}

.info p {
    margin-top: 40px;
    width: 87%;
    font-size: 17px;
}

.info p:nth-child(2n) {
    margin: 75px 0;
}

.galeria {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.galeria img {
    width: 200px;
    height: 250px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.163);
}

.imagenes {
    position: absolute;
    left: 25px;
}